<div class="gallery_full_width_images_area_own row clearfix" #galeryContainer>
    <!-- Single gallery Item -->
    <div class="gra col-12 col-sm-6 col-md-4 single_gallery_item_own" *ngFor="let snap of compSnaps">
        <div class="single_gallery_content">
            <img src="snaps/{{snap.thumbnailPath}}" alt="">
            <!-- Hover Effects -->
            <div class="hover_overlay">
                <div class="gallery_info">
                    <div class="zoom-details-btn">
                        <a #popUpLink class="gallery_img animated fadeInDown" href="snaps/{{snap.originalPath}}"><i class="ti-zoom-in"></i></a>
                        <!-- <a href="single-portfolio-1.html"><i class="ti-link"></i></a> -->
                    </div>
                    <h5>{{snap.name}}</h5>
                    <p>{{snap.description}} In {{snap.album.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
