<div class="container content"><alert></alert></div>


<!-- >>>>>>>>>>>>>>>> Project area start <<<<<<<<<<<<<<<< -->
<section class="gallery_area section_padding_0_100 clearfix" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-12">
                
                    <router-outlet></router-outlet>
               
        </div>
      </div>

      <div class="load-more-btn text-center">
          <div class="row">
              <div class="col-12">
                  <a href="#" class="btn light-btn">Load More</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- >>>>>>>>>>>>>>>> Project area end <<<<<<<<<<<<<<<< -->